@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --main-bg-color: #eff5fe;
  --border-color: #0288d147;
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
  background-color: var(--main-bg-color);
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.drop-zone {
  width: 500px;
  min-height: 250px;
  border: 2px dashed var(--border-color);
  margin: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-container {
  width: 75px;
  height: 100px;
  position: relative;
}

.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
  transition: transform 250ms ease-in-out;
}

.icon-container .center {
  z-index: 2;
}

.title {
  font-size: 22px;
  font-weight: 500;
}

.icon-container .right,
.icon-container .left {
  filter: grayscale(0.4);
  transform: scale(0.9);
}

.dragged .icon-container .right {
  transform: rotate(15deg) translateX(30px) scale(0.9);
  transform-origin: bottom;
}

.dragged .icon-container .left {
  transform: rotate(-15deg) translateX(-30px) scale(0.9);
  transform-origin: bottom;
}

.dragged .icon-container .center {
  transform: translateY(-5px);
}
