@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --main-bg-color: #d3e4fd;
  --border-color: #01a6ffb4;
  --container-width: 500px;
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: var(--main-bg-color);
  height: 100%;
  overflow: hidden;
}

body,
.drop-zone,
.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px 0;
}

.drop-zone {
  width: var(--container-width);
  min-height: 200px;
  border: 2px dashed var(--border-color);
  margin: 30px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.icon-container {
  width: 75px;
  height: 100px;
  position: relative;
}

.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
  transition: transform 250ms ease-in-out;
}

.icon-container .center {
  z-index: 2;
}

.title {
  font-size: 22px;
  font-weight: 500;
}

.icon-container .right,
.icon-container .left {
  filter: grayscale(0.4);
  transform: scale(0.9);
}

.dragged.drop-zone {
  background-color: var(--main-bg-color);
  border: 2px dashed rgb(74, 162, 244);
}

.dragged .icon-container .right {
  transform: rotate(15deg) translateX(30px) scale(0.9);
  transform-origin: bottom;
}

.dragged .icon-container .left {
  transform: rotate(-15deg) translateX(-30px) scale(0.9);
  transform-origin: bottom;
}

.dragged .icon-container .center {
  transform: translateY(-5px);
}

#fileInput {
  display: none;
}

.browseButton {
  color: rgb(74, 162, 244);
  cursor: pointer;
}

/* PROGRESS CONTAINER */
.progress-container {
  width: var(--container-width);
  height: 70px;
  border: 2px solid var(--main-bg-color);
  margin-bottom: 30px;
  border-radius: 5px;
  position: relative;
  display: none;
}

.progress-container .bg-progress {
  background-color: var(--main-bg-color);
  width: 0%;
  height: 100%;
  border-radius: 5px;
  transform: width 0.25s linear;
  position: absolute;
}

#file-url {
  cursor: pointer;
}

.progress-container .inner-container {
  margin: 10px 15px;
  position: absolute;
  z-index: 1;
  width: calc(100% - 30px);
}

.inner-container .progress-title {
  font-size: 16px;
  font-weight: 400;
}

.inner-container .percent-container {
  font-size: 15px;
  color: rgb(32, 28, 28);
  font-weight: 500;
  margin: 2px 0;
}

.inner-container .progress-bar {
  width: 0%;
  height: 3px;
  background-color: var(--border-color);
}

/* SHARING CONTAINER */
.sharing-container {
  display: none;
  width: var(--container-width);
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-size: 18px;
}

.sharing-container .input-container {
  position: relative;
}

.sharing-container .input-container input {
  width: var(--container-width);
  border: 2px dashed var(--border-color);
  outline: none;
  padding: 10px 15px;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f5fcff;
}

.input-container img {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  right: 0;
  background-color: #fff;
  transform: translate(-20%, -50%);
  cursor: pointer;
}

/* EMAIL CONTAINER */
.email-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.email-container form {
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}

.email-container form .form-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 400px;
}

.email-container label {
  font-size: 18px;
}

.email-container input {
  border: none;
  font-size: 17px;
  border-bottom: 2px solid var(--border-color);
  outline: none;
}

.email-container button {
  padding: 8px 40px;
  font-size: 18px;
  margin-top: 15px;
  border: none;
  background-color: var(--border-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* TOAST */
.toast {
  background-color: #333;
  visibility: hidden;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --container-width: 320px;
  }

  .drop-zone {
    height: 100px;
  }

  .email-container .form-control {
    flex-direction: column;
  }

  .email-container form .form-control {
    width: 300px;
  }

  .title {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --container-width: 280px;
  }

  .drop-zone {
    height: 80px;
    margin: 20px 20px 20px 20px;
  }

  .email-container {
    padding: 0 15px;
    margin-bottom: 0px;
  }

  .email-container .form-control {
    flex-direction: column;
  }

  .email-container form .form-control {
    width: 240px;
  }

  .title {
    font-size: 18px;
  }
}
